<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled"     value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name ="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias type="io.sderp.ws.model.User" alias="User" />
        <typeAlias type="io.sderp.ws.model.support.UserType" alias="UserType" />
        <typeAlias type="io.sderp.ws.model.Platform" alias="Platform" />
        <typeAlias type="io.sderp.ws.model.Permission" alias="Permission" />
        <typeAlias type="io.sderp.ws.model.Role" alias="Role"/>
        <typeAlias type="io.sderp.ws.model.RoleWithPermission" alias="RoleWithPermission"/>
        <typeAlias type="io.sderp.ws.model.UserRole" alias="UserRole"/>
        <typeAlias type="io.sderp.ws.model.UserPlatform" alias="UserPlatform" />
        <typeAlias type="io.sderp.ws.model.UserActionHistories" alias="UserActionHistories" />
        <typeAlias type="io.sderp.ws.model.Template" alias="Template" />
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="io.sderp.ws.repository.typehandler.BooleanYnTypeHandler" javaType="Boolean" />
    </typeHandlers>

    <mappers>
<!--        <mapper resource="mybatis/mapper/mariadb/RoleMapper.xml" />-->
<!--        <mapper resource="mybatis/mapper/mariadb/PlatformMapper.xml" />-->
<!--        <mapper resource="mybatis/mapper/mariadb/PermissionMapper.xml" />-->
<!--        <mapper resource="mybatis/mapper/mariadb/RolePermissionMapper.xml" />-->
<!--        <mapper resource="mybatis/mapper/mariadb/UserMapper.xml" />-->
    </mappers>
</configuration>