<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.sderp.ws.repository.mapper.PermissionMapper">
    <resultMap id="PermissionResultMap" type="Permission">
        <id property="permissionId"                           column="permission_id" />
        <result property="permissionName"                     column="permission_name" />
        <result property="createdDate"                        column="created_date" />
        <result property="modifiedDate"                       column="modified_date" />
    </resultMap>

    <select id="selectAllPermission" resultMap="PermissionResultMap">
        SELECT permission_id,
               permission_name,
               created_date,
               modified_date
        FROM erp_permissions
    </select>

    <select id="selectPermission" parameterType="String" resultMap="PermissionResultMap">
        SELECT permission_id,
               permission_name,
               created_date,
               modified_date
        FROM erp_permissions
        WHERE permission_id = #{id}
    </select>

    <select id="selectPermissionByRole" parameterType="String" resultType="Permission">
        SELECT erp_permissions.permission_id,
               erp_permissions.permission_name,
               erp_permissions.created_date,
               erp_permissions.modified_date
        FROM erp_role_permissions JOIN erp_permissions ON erp_role_permissions.permission_id = erp_permissions.permission_id
        WHERE role_id = #{roleId}
    </select>

    <insert id="insertPermission" parameterType="Permission">
        INSERT INTO erp_permissions
            (
                 permission_id,
                 permission_name,
                 created_date,
                 modified_date
            )
        VALUES
            (
                #{permissionId},
                #{permissionName},
                #{createdDate},
                #{modifiedDate}
            )
    </insert>
</mapper>


