<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.sderp.ws.repository.mapper.UserMapper">
    <resultMap id="UserWithRoleResultMap" type="RoleWithPermission">
        <association property="role" column="role_id" javaType="Role" select="io.sderp.ws.repository.mapper.RoleMapper.selectRole"/>
        <association property="permission" column="permission_id" javaType="Permission" select="io.sderp.ws.repository.mapper.PermissionMapper.selectPermission"/>
    </resultMap>

    <resultMap id="UserResultMap" type="User">
        <id property="userId"                       column="user_id" />
        <result property="loginId"                  column="login_id" />
        <result property="loginPassword"            column="login_password" />
        <result property="typeCode"                 column="type_code" />
        <result property="statusCode"               column="status_code" />
        <result property="createdDate"              column="created_date" />
        <result property="modifiedDate"             column="modified_date" />
    </resultMap>

    <select id="selectAllUser" parameterType="Map" resultType="User">
        SELECT erp_users.user_id,
               erp_users.login_id,
               erp_users.type_code,
               erp_users.status_code,
               erp_users.created_date,
               erp_users.modified_date,
               erp_roles.role_name
        FROM erp_users
            JOIN erp_user_roles ON erp_users.user_id = erp_user_roles.user_id
            JOIN erp_roles ON erp_user_roles.role_id = erp_roles.role_id
        WHERE erp_users.status_code = #{userStatusType}
    </select>

    <select id="selectUserByUserId" parameterType="String" resultMap="UserResultMap">
        SELECT user_id,
               login_id,
               login_password,
               type_code,
               status_code,
               created_date,
               modified_date
        FROM erp_users
        WHERE user_id = #{value}
    </select>

    <select id="selectUser" parameterType="Map" resultMap="UserResultMap">
        SELECT user_id,
               login_id,
               login_password,
               type_code,
               status_code,
               created_date,
               modified_date
        FROM erp_users
        WHERE login_id = #{id} AND status_code = #{statusType}
    </select>

    <select id="selectUserCount" parameterType="Map" resultType="long">
        SELECT COUNT(1)
        FROM erp_users
        WHERE login_id = #{id} AND status_code = #{statusType}
    </select>

    <select id="selectUsersWhereType" parameterType="UserType" resultMap="UserResultMap">
        SELECT user_id,
               login_id,
               login_password,
               type_code,
               status_code,
               created_date,
               modified_date
        FROM erp_users
        WHERE type_code = #{value}
    </select>

    <insert id="insertUser" parameterType="User">
        INSERT INTO erp_users (
            user_id,
            login_id,
            login_password,
            type_code,
            status_code,
            created_date,
            modified_date
        ) VALUES (
            #{userId},
            #{loginId},
            #{loginPassword},
            #{typeCode},
            #{statusCode},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE erp_users
        SET type_code = #{typeCode},
            status_code = #{statusCode},
            <if test="loginPassword != null">login_password = #{loginPassword},</if>
            modified_date = #{modifiedDate}
        WHERE user_id = #{userId}
    </update>

    <update id="updatePassword" parameterType="User">
        UPDATE erp_users
        SET
        <if test="loginPassword != null">login_password = #{loginPassword}</if>
        WHERE user_id = #{userId}
    </update>

    <select id="searchUserList" parameterType="Map" resultType="User">
        SELECT erp_users.user_id,
               erp_users.login_id,
               erp_users.type_code,
               erp_users.status_code,
               erp_users.created_date,
               erp_users.modified_date,
               erp_roles.role_name
        FROM erp_users
            JOIN erp_user_roles ON erp_users.user_id = erp_user_roles.user_id
            JOIN erp_roles ON erp_user_roles.role_id = erp_roles.role_id
            JOIN erp_user_platforms ON erp_users.user_id = erp_user_platforms.user_id
            JOIN erp_platforms ON erp_user_platforms.platform_id = erp_platforms.platform_id
        WHERE erp_users.user_id != '-1'
              <if test="name != null"> AND erp_users.login_id like CONCAT('%',#{name},'%') </if>
              <if test="platform != null"> AND erp_user_platforms.platform_id  = #{platform} </if>
              <if test="role != null"> AND erp_user_roles.role_id  = #{role} </if>
    </select>


</mapper>
